.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .logo-container {
      height: 100%;
      width: 100px;
      padding:50px;
    }

    .companyname {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 60px 15px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
      }
    }
  }