.edit-form {
    background-color: rgba(191, 244, 248, 0.723);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: center;
    position: relative;
    margin-top: 90px;
}